<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://cxf.apache.org/jaxws
						http://cxf.apache.org/schemas/jaxws.xsd
						http://cxf.apache.org/jaxrs
						http://cxf.apache.org/schemas/jaxrs.xsd
						http://cxf.apache.org/core
						http://cxf.apache.org/schemas/core.xsd
					    http://camel.apache.org/schema/spring 
					    http://camel.apache.org/schema/spring/camel-spring.xsd
					    http://www.springframework.org/schema/context
				        http://www.springframework.org/schema/context/spring-context-3.0.xsd
				        http://www.springframework.org/schema/tx
				        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
				        http://www.springframework.org/schema/aop 
				        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<bean id="transactionTest" class="cn.tj.fnzi.TransactionTestImpl"></bean>

	<!-- ******************************************************************************************************* -->
	<!-- webservice client -->

	<jaxws:client id="userDataService" serviceClass="cn.tj.fnzi.its.webservice.IUserService"
		address="http://127.0.0.1:8080/demo-DbMapper/webservices/userDataServiceWS" />

	<!-- jaxws:client id="userDaoWebService" serviceClass="cn.tj.fnzi.webservice.dao.IUserDaoWebService" 
		address="http://127.0.0.1:8080/demo-mybatis-dao/webservices/userDataServiceWS" 
		/> -->

	<!-- ******************************************************************************************************* -->


</beans>
